.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
*.swp
*~
.project
*.komodo*
.DS_Store
*.orig
coverage
.rbenv-version
public/assets
dump.rdb
.env
/vendor/ruby
bin
priv/*
!priv/env.example.sh
!*/.keep
.vscode
.idea/
.tool-versions
